<!--
  templateType: page
  isAvailableForNewContent: true
  label: About Page
  screenshotPath: ../images/templates/vitality_about.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class='body-container body-container--about-page', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      padding={
        "top": 200,
        "bottom": 200,
        "left": 20,
        "right": 20
      },
      background_image={
        "backgroundPosition": "MIDDLE_CENTER",
        "backgroundSize": "cover",
        "imageUrl": get_asset_url("../images/about-banner.png")
      },
      vertical_alignment="MIDDLE"
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h1 style="color: #FFF;">About Our Studio</h1>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# About Us Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End About Us Section #}

    {# Out Studio Section #}
    {% dnd_section
      background_color={{ theme.global_colors.secondary_color.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Our Studio</h2>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          margin={
            "bottom": 22
          }
        %}
          {% dnd_module
            offset=0,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-1.png"),
              "alt": "Woman doing yoga pose in yoga studio",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
          {% dnd_module
            offset=4,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-2.png"),
              "alt": "A lit candle",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
          {% dnd_module
            offset=8,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-3.png"),
              "alt": "Three women doing yoga poses in a yoga studio",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            offset=0,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-4.png"),
              "alt": "A neon sign that reads 'and breathe'",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
          {% dnd_module
            offset=4,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-5.png"),
              "alt": "A fitness instructor helping a fitness member stretch their leg",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
          {% dnd_module
            offset=8,
            width=4,
            path="@hubspot/linked_image",
            img={
              "src": get_asset_url("../images/studio-6.png"),
              "alt": "Two women talking in a yoga studio",
              "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Our Studio Section #}

    {# Our Team Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Our Team</h2>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/team-member",
            offset=0,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/michelle.png"),
              "alt": "Michelle Anio"
            },
            team_member_name="Michelle Anio",
            team_member_position="Owner",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/team-member",
            offset=4,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/anthony.png"),
              "alt": "Anthony Range"
            },
            team_member_name="Anthony Range",
            team_member_position="500 hr. Certified Instructor",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/team-member",
            offset=8,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/ella.png"),
              "alt": "Ella France"
            },
            team_member_name="Ella France",
            team_member_position="Reiki Therapist",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/team-member",
            offset=0,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/ray.png"),
              "alt": "Ray Jones"
            },
            team_member_name="Ray Jones",
            team_member_position="Studio Coordinator",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/team-member",
            offset=4,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/rachel.png"),
              "alt": "Rachel Stone"
            },
            team_member_name="Rachel Stone",
            team_member_position="500 hr. Certified Instructor",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/team-member",
            offset=8,
            width=4,
            flexbox_positioning="MIDDLE_CENTER",
            team_member_image={
              "src": get_asset_url("../images/lauren.png"),
              "alt": "Lauren Roberson"
            },
            team_member_name="Lauren Roberson",
            team_member_position="500 hr. Certified Instructor",
            team_member_bio="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus posuere mi, in pretium ante posuere a. Aliquam a risus at eros molestie pretium. Integer nec est sed neque pretium suscipit ac ut enim. Integer fringilla nisl eu fringilla fermentum. Nullam feugiat dolor ac condimentum imperdiet.</p>"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Our Team Section #}

    {# CTA Section #}
    {% dnd_section
      padding={
        "left": 20,
        "right": 20
      },
      background_image={
        "backgroundPosition": "MIDDLE_CENTER",
        "backgroundSize": "cover",
        "imageUrl": get_asset_url("../images/about-cta-banner.png")
      },
      vertical_alignment="MIDDLE"
    %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <h2>Want to Join Our Team?</h2>
              <p>We are always looking for new trainers and staff members to help keep our studio running. If you have experience and would like to join our team please check out some of the open positions on our jobs page.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module
              path="../modules/button",
              flexbox_positioning='MIDDLE_LEFT',
              button_link="#",
              button_text="Visit Our Jobs Page",
              style_type="secondary"
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/horizontal_spacer" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End CTA Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}
