<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page
  screenshotPath: ../images/templates/vitality_landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-landing-page.html" %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class='body-container body-container--landing-page', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      padding={
        "top": 50,
        "bottom": 50,
        "left": 20,
        "right": 20
      },
      background_color={{ theme.global_colors.secondary_color.color }},
      vertical_alignment="MIDDLE"
    %}
      {% dnd_column
        offset=0,
        width=4
      %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/linked_image",
            img={
            "src": get_asset_url("../images/offer.png"),
            "alt": "Woman pouring essential oils onto her hand",
            "size_type": "auto"
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=4,
        width=8
      %}
        {% dnd_row
          vertical_alignment="MIDDLE"
        %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <h2>How to Incorporate Essential Oils Into Your Daily Practice</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Two Column With Form Section #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>What this Guide Has to Offer</h3>
            <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus. Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris dui orci, pulvinar sit
  amet ligula vel.</p>
            <p>Cras interdum felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris dui orci, pulvinar sit
  amet ligula vel.</p>
            <ul>
              <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
              <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
              <li>Far far away, behind the word mountains, far from the countries Vokalia</li>
            </ul>
          {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/form"
            title="Download this Guide"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Two Column With Form Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/footer-landing-page.html" %}
{% endblock footer %}
