.social-links__icon {
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  padding: 10px;
  text-align: center;
  width: 40px;
}

.social-links__icon svg {
  height: 20px;
  width: auto;
}