<!--
  templateType: global_partial
  label: Landing Page Footer
-->
<footer class="footer footer--landing-page">
  <div class="footer__container">

      {# Copyright #}
      {% module_block module "footer_copyright" path="@hubspot/rich_text", label='Copyright' %}
        {% module_attribute "html" %}
          <p>Copyright © {{ year }} {{ site_settings.company_name }}. All Rights Reserved. <a href="#">Privacy Policy</a>. <a href="#">Terms and Conditions</a>.</p>
        {% end_module_attribute %}
      {% end_module_block %}

  </div>
</footer>