<!--
  templateType: global_partial
  label: Landing Page Header
-->
<header class="header header--landing-page">
  <div class="header__container">

    {# Logo #}
    <div class="header__logo">
      {% module "header_logo"
        path="@hubspot/logo",
        img={
          "override_inherited_src": true,
          "src": get_asset_url("../../images/vitality-theme-logo.png"),
          "alt": "Vitality logo",
          "width": "502",
          "height": "104"
        }
      %}
    </div>

  </div>
</header>