{% if module.select_blog_type == "recent_posts" %}
  {% set post_listing = blog_recent_posts(module.select_blog, 3) %}
{% else %}
  {% set post_listing = blog_popular_posts(module.select_blog, 3) %}
{% endif %}

<section class="blog-post-listing" id="blog-post-listing--{{ name }}">
  <h2 class="blog-post-listing__title">{{ module.heading_text }}</h2>
  <div class="blog-post-listing__listing">
    {% for post in post_listing %}
      <article class="blog-post-listing__article">
        {% if post.featured_image %}
          <a class="blog-post-listing__image" style="background-image: url('{{ post.featured_image }}');" href="{{ post.absolute_url }}"></a>
        {% endif %}
        <div class="blog-post-listing__content">
          <div class="blog-post-listing__meta">
            <span class="blog-post-listing__date">{{ post.publish_date_localized }}</span>
          </div>
          <h3 class="blog-post-listing__title"><a href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
        </div>
      </article>
    {% endfor %}
  </div>
</section>

{% if module.style.override_default_style %}
  {% require_css %}
    <style>
      #blog-post-listing--{{ name }} .blog-post-listing__article {
        background-color: rgba({{ module.style.background_color.color|convert_rgb }}, {{ module.style.background_color.opacity * 0.01 }});
      }
      #blog-post-listing--{{ name }} a,
      #blog-post-listing--{{ name }} .blog-post-listing__date {
        color: rgba({{ module.style.text_color.color|convert_rgb }}, {{ module.style.text_color.opacity * 0.01 }});
      }
    </style>
  {% end_require_css %}
{% endif %}