<div class="slider-container" id="slider-container--{{ name }}">
  <div class="slider">
    {% for testimonial in module.testimonial_slider %}
      <div>
        <div class="testimonial">
          <blockquote class="testimonial__content">
            {{ testimonial.content }}
            <cite class="testimonial__author__name">
              {{ testimonial.author.author_name }}
            </cite>
          </blockquote>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% if module.style.override_default_style %}
  {% require_css %}
    <style>
      #slider-container--{{ name }} .tns-nav button {
        background-color: rgba({{ module.style.navigation_color.color|convert_rgb }}, {{ module.style.navigation_color.opacity * 0.01 }});
      }
      #slider-container--{{ name }} .tns-nav button.tns-nav-active,
      #slider-container--{{ name }} .tns-nav button:hover,
      #slider-container--{{ name }} .tns-nav button:focus {
        background-color: rgba({{ module.style.navigation_active_color.color|convert_rgb }}, {{ module.style.navigation_active_color.opacity * 0.01 }});
      }
    </style>
  {% end_require_css %}
{% endif %}