/* Footer Container */

.footer__container {
  margin: 0 auto;
  padding: 2.8rem 20px 1.4rem;
}

.footer--landing-page {
  text-align: center;
}

/* Footer Rows */

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Footer Row One */

.footer__row--one {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo {
  height: auto;
  margin-right: 60px;
  max-width: 250px;
}

@media(max-width: 767px) {
  .footer__logo {
    margin-right: 0;
    max-width: 200px;
  }
  .footer__logo,
  .footer__follow-me {
    margin-bottom: 1.4rem;
  }
}

.footer__navigation {
  margin-right: auto;
}

.footer__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__navigation li {
  display: inline-block;
  margin-right: 30px;
}

@media(max-width: 1024px) {
  .footer__navigation li {
    margin-right: 20px;
  }
}

.footer__navigation a {
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.38rem;
  text-decoration: none;
  text-transform: uppercase;
}

@media(max-width: 767px) {
  .footer__row--one {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__logo {
    order: 1;
  }

  .footer__navigation {
    order: 3;
    width: 100%;
  }

  .footer__navigation li {
    display: block;
    margin: 1rem 0;
  }

  .footer__navigation li:last-child {
    margin-bottom: 0;
  }

  .footer__follow-me {
    order: 2;
    margin-left: auto;
  }
}

/* Footer Row Two */

.footer__row--two {
  margin: 85px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__contact {
  margin: 1rem 0;
  width: 100%;
}

.footer__contact > div {
  display: inline-block;
}

.footer__contact .icon {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .footer__row--two {
    margin: 2.8rem 0;
  }
}
