/* Form */

form {
  border: 1px solid;
  max-width: 500px;
  padding: 2.8rem;
}

/* Form Title */

h3.form-title {
  margin: 0;
  max-width: 500px;
  padding: 2.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

/* Form Button */

form .hs-button {
  width: 100%;
  line-height: 1.4;
  white-space: normal;
}

/* Form Labels */

.hs-form label {
  display: block;
  float: none;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  padding-top: 0;
  text-align: left;
  width: auto;
}

/* Form Error Messages */

.hs-form .hs-error-msgs label {
  color: #EF6B51;
  margin-top: 0.25rem;
}

/* Form Fields */

form .input {
  position: relative;
}

form input,
form select,
form textarea {
  background-color: #FFF;
  border: 1px solid;
  display: inline-block;
  padding: 0.75rem;
  width: 100%;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-width: 1px;
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0;
  vertical-align: top;
  width: auto;
}

input[type=file] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

.hs-fieldtype-select .input:after {
  content: "\25BE";
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.hs-dateinput:before {
  content:"\01F4C5";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  border-radius: 0 !important;
}

.hs-input input,
.hs-input textarea {
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

textarea.hs-input {
  height: auto;
}

select[multiple].hs-input {
  height: inherit;
}

fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: #EF6B51;
}

input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: #EF6B51;
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 0.25rem;
  padding-left: 0;
  width: 100%;
}

.inputs-list > li {
  display: block;
  padding: 0;
  padding-top: 0;
  width: 100%;
}

.inputs-list label {
  display: block;
  float: none;
  font-weight: normal;
  line-height: 18px;
  padding: 0;
  text-align: left;
  white-space: normal;
  width: auto;
}

.inputs-list:first-child {
  padding-top: 6px;
}

.inputs-list > li + li {
  padding-top: 2px;
}

.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 1.4rem;
}

.hs-field-desc {
  margin: 0 0 0.375rem;
  font-size: 0.875rem;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.hs-richtext hr {
  margin-left: 0;
  text-align: left;
  width: 91%;
}

.email-correction, .email-validation {
  font-size: 0.75rem;
  padding-top: 3px;
}

.email-correction a,
.email-validation a {
  cursor: pointer;
}

@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}

.hs-button,
.button__primary,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea,
.hs-form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hs-form-field select::-ms-expand {
  display: none;
}

.submitted-message {
  background-color: #FBF7F1;
  border: 1px solid;
  max-width: 500px;
  padding: 2.8rem;
}
